
<div class="widget-wrapper">
    <div id="btc-quote"></div>
    <script type="text/javascript" src="https://www.weusecoins.com/embed.js"></script>
    {% if include.hideEmbedLink == nil %}
    <div class="embedme">
        <a href="https://www.weusecoins.com/en/embed/">Embed me and get free bitcoins!</a>
<span class='st_facebook_vcount' displayText='Facebook'></span>
<span class='st_twitter_vcount' displayText='Tweet'></span>
<span class='st_plusone_vcount' displayText='Google +1'></span>

<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.coindl.com&t=CoinDL" title="Share on Facebook" target="_blank"><img src="/images/flat_web_icon_set/black/Facebook.png"></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fwww.coindl.com&text=CoinDL:%20https%3A%2F%2Fwww.coindl.com&via=CoinDL" target="_blank" title="Tweet"><img src="/images/flat_web_icon_set/black/Twitter.png"></a></li>
  <li><a href="https://plus.google.com/share?url=https%3A%2F%2Fwww.coindl.com" target="_blank" title="Share on Google+"><img src="/images/flat_web_icon_set/black/Google+.png"></a></li>
</ul>

    </div>
    {% endif %}
</div>


