
<div class="widget-wrapper">
    <div id="btc-quote"></div>
    <script type="text/javascript" src="https://www.weusecoins.com/embed.js"></script>
    {% if include.hideEmbedLink == nil %}
    <div class="embedme">
        <a href="https://www.weusecoins.com/en/embed/">Embed me and get free bitcoins!</a>
    </div>
    {% endif %}
</div>


<span class='st_fblike_vcount' displayText='Facebook Like'></span>
<span class='st_twitterfollow_vcount' displayText='Twitter Follow' st_username='coindl'></span>
<span class='st_plusone_vcount' displayText='Google +1'></span>


    <!-- Twitter -->
    <a href="https://twitter.com/share?url="{{ site.baseurl }}/">{{ site.name }}&amp;name=CoinDL&amp;hashtags=coindl" target="_blank">
        <img src="/images/twitter.png" alt="Twitter" />
    </a>
    
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u="{{ site.baseurl }}/">{{ site.name }}" target="_blank">
        <img src="/images/facebook.png" alt="Facebook" />
    </a>
    
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url="{{ site.baseurl }}/">{{ site.name }}" target="_blank">
        <img src="/images/google.png" alt="Google" />
    </a>